<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Pattaya' rel='stylesheet'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="gif">
        <img src="../assets/spaceship.png" style="width: 200px; transform: rotate(45deg);">
    </div>

    <div class="text-end-img">
        <div class="Title-and-text">
            <h1>get your seat to Mars!</h1>

            <p class="text-a">Earth ls doomed, but don't worry! The last <br>
                ročkel is leaving for mars soon, so hurry <br>
                up and book your flight!</p>
        </div>

        <div class="img">
            <img src="../assets/20134290-preview.png" width="250px">
        </div>
    </div>

    <div class="timer-end-button">
    
        <div class="Second-title">

            <p class="text-b">
                Countdown lo lii off
            </p>
        </div>
        

            <div class="Timer">

                <div class="subtlety">
                    <h2 class="z">0</h2>
                </div>

                <div class="Points">
                    <h2>:</h2>
                </div>

                <div class="Seconds">
                    <h2 class="m">{{count}}</h2>
                </div>

            </div>

            <div class="button">
            
                <button (click)="ResetTimer()">Reset timer</button>
            </div>
    </div>




</body>

</html>